.btn-div {
    z-index: 2;
    cursor: pointer;
    text-align:right;
    width: 100%;
    position: absolute;
}

.add-media-btn {
    margin-right: -20px;
    margin-top: 5px;
}

.list-item {
    border-style: groove;
    border-color: aqua;
}

.media-img {
    width: 100%;
}
