.add-remove-friend-button {
    cursor: pointer;
    float: right;
    flex: none;
}

.friends-list-item {
    width:100%;
    position: relative;
    display: flex;
    margin-bottom: 5px;
}

.friends-list-item-username {
    flex: auto;
}
